:root{
  --title-color: #34a53b;
  --blue-color: #2c4069;
  --gray-color: #3a3e3f;
  --clear-gray: #82878a;
  --yellow: #d3b50e;
  --red:  #c23131;
  --black: #000;
  --white: #eee;

  --title-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* --font-family1: 'Faustina', serif; */
  --font-family:  'PT Sans Narrow', sans-serif;
  /* --font-family3: 'Stint Ultra Condensed', cursive; */
  
  
}
.App {
  text-align: center;
  display: grid;
  background-image: url('https://img.freepik.com/vector-gratis/cielo-fantasia-azul-pastel-acuarela-pintada-mano-fondo_100956-631.jpg');
  background-size: cover;
  position: relative;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
