body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: var(--font-family);
  /* font-weight: bold; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body input::-webkit-input-placeholder {
  font-family: var(--font-family);
  /* font-size: 14px; */
}
body input:-ms-input-placeholder {
  font-family: var(--font-family);
  /* font-size: 14px; */
}
body input:-moz-placeholder {
  font-family: var(--font-family);
  /* font-size: 14px; */
}
body input:-moz-placeholder {
  font-family: var(--font-family);
  /* font-size: 14px; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
