.contenedor {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}
.contenedorDos {
    display: grid;
}
.contenedorTres {
    display: flex;
    gap: 10px;
}
.select {
    font-family: var(--font-family);
    font-size: 17.5px;
    font-weight: 700;
    color: var(--white);
    border-width: 1px;
    background-color: var(--red);
    border-radius: 5px;
    border-style: none;
}
.select:hover {
    cursor: pointer;
}
.select option {
    cursor: pointer;
    background-color: var(--white);
    color: var(--red);
}
.label {

    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--gray-color);
    /* background-color: var(--red); */
}