.contenedor {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.ul {
    margin-top: 30px;
    list-style: outside none none;
}
.btn {
    font-size: 17px;
    padding: 3px 5px;
    border-style: none;
    font-family: var(--font-family);
    /* font-weight: 700; */
    
    /* background-color: var(--title-color); */
    background-color: var(--title-color);
    color: var(--white);
    border-radius: 10px;
    width: 30px;
}
.btn:hover {
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
}